[Unit]
Description=Puma Server (http)
After=network.target syslog.target
Requires=network.target dbus.service
After=systemd-user-sessions.service
Wants=mongod.service

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

WorkingDirectory=/home/appuser/reddit

ExecStart=/usr/local/bin/pumactl start &
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=puma.service
