project = "project-idnnnnn"
public_key_path = "~/.ssh/appuser.pub"
private_key = "~/.ssh/appuser"
ssh_user  = "appuser"
ssh_user1 = "appuser1"
ssh_user2 = "appuser2"
disk_image = "app-image"
zone = "zone_name_a"
count_instance = 2
